@font-face {
  font-family: 'MrEavesXLSanOT';
  font-weight: 300;
  src: url('../fonts/MrEavesXLSanOT/MrEavesXLSanOT-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'MrEavesXLSanOT';
  font-weight: 400;
  src: url('../fonts/MrEavesXLSanOT/MrEavesXLSanOT-Reg.woff2') format('woff2');
}

@font-face {
  font-family: 'MrEavesXLSanOT';
  font-weight: 700;
  src: url('../fonts/MrEavesXLSanOT/MrEavesXLSanOT-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'MrEavesXLSanOT';
  font-weight: 800;
  src: url('../fonts/MrEavesXLSanOT/MrEavesXLSanOT-Heavy.woff2') format('woff2');
}