@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
@import url("https://use.typekit.net/dmy6chp.css");
body {
  font-family: $primary-font;
  font-weight: 400;
}

h1{
  font-family: $heading-font;
}
.exit-link, .click-tag {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

#main-panel {
  border: 1px solid #000;
}

.main-content-wrapper {
  position: relative;
  height: $main-content-height;
  width: $main-content-width;

  .animated-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: $flex-direction;
    position: relative;
  }

  .screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: none;
    justify-content: center;
    align-items: center;

    .content {
      width: 100%;
      height: 100%;
      background-color: #fff;
      *{
        z-index: 1;
      }
      .screen-bg{
        z-index: 0;
        height: 90px;
      }
    }

    .text {
      position: relative;
    }
  }
}

.static-content {
  display: block;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.d-block {
  display: block !important;
}