// Declare Variables with consistent values here
// Variables with orientation specific values should be written in horizontal.scss and vertical.scss

// Colors
$heading-sec-color: #4e58a7;
$white: #ffffff;
$orange: #f47721;


$primary-font: 'Fira Sans', Helvetica, Arial, sans-serif;
$heading-font: 'goodlife-sans-condensed',sans-serif;

// Component Colors
$isi-background: #e6e7e8;
$isi-scrollbar-background-color: #cccccc;
$isi-indicator-color: #fff;
$isi-text-color: #636466;

// Component Sizes
$isi-scrollbar-width: 6px;
$content-outer-padding: 10px;