@import "../vendor/normalize";
@import "../modules/all";
@import "../orientation/vertical";
@import "../type/standard";

/* Alter variables for one specific banner by redefining them here */


@import "../partials/all";

#main-panel.gloperba_300x250 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  
  // common styles for all 4 banners
  @import "../partials/banner-option-1";

  .main-content-wrapper {
    flex-grow: 1;
    min-width: 1px;
    width: auto;
  }
  .iScrollVerticalScrollbar{
    width: 10px !important;
    right: 8px !important;
    border-radius: 5px;
    .iScrollIndicator{
      width: 10px !important;
      height: 10px !important;
    }
  }
  .isi{
    font-size: 15px;
    h2{
    font-size: 18.3px;
    line-height: 22px;
    }
  }
  .isi-container-wrapper {
    flex-shrink: 0;
    height: 71px;
    display: none;
  }
  .d-block-728x90{
    display: none;
  }
  .d-block-300x250{
    display: block;
  }
  h1{
    sup{
    font-size: 28px;
  }
  }
 
    // Screen 1
    .screen-1 {
      display: block;
       
       .content {
         background-image: url(../img/bg.png);
         background-size:cover;
         background-repeat: no-repeat;
      
         display: flex;
         align-items: center;
         justify-content: center;
         
       }
     }
   
     // Screen 2
     .screen-2 {
   
       .content{
         padding: 28px 10px 10px 20px;
         background-image: url(../img/bg.png);
         background-size:cover;
         background-repeat: no-repeat;
         display: flex;
         flex-direction: column;
         
         p{
           font-size: 14.58px;
           margin: 0;
           line-height: 17px;
           letter-spacing: -0.1px;
         }
         .sec-p{
          letter-spacing: -0.2px;
          margin-top: 8px;
         }
         h2{
            color: $heading-sec-color;
            font-size: 18.75px;
            line-height: 20.83px;
            margin: 0 0 8px 0;
         }
       }
     }
   
     // Screen 3
     .screen-3 {
   
       .content{
         //bg via main bgimage+bg+color
         // background:linear-gradient(0deg, rgba(51, 153, 204, 0.2), rgba(51, 153, 204, 0.2)), url(../img/bg.png);
         // background-repeat: no-repeat;
         // background-position-y: -125px;
         
        //  background-image: url(../img/bg-3.png);
         background-size:cover;
         background-repeat: no-repeat;
         display: flex;
         text-align: center;
         align-items: center;
         justify-content: center;
         h1{
           width: 270px;
           color: $white;
           font-size: 66.67px;
           line-height: 58.33px;
           font-weight: normal;
           text-shadow: 2px 2px #808080;
         }
       }
     }
   
     // Screen 4
     .screen-4 {
   
       .content{
         background-image: url(../img/bg-4.png);
         background-size:cover;
         background-repeat: no-repeat;
         display: flex;
         align-items: flex-end;
         justify-content: center;
         h1{
           color: $white;
           width: 270px;
           font-size: 45.83px;
           line-height: 41.67px;
           font-weight: normal;
           text-shadow: 2px 2px #808080;
           text-align: center;
           letter-spacing: -.2px;
           margin-bottom: 5px;
         }
       }
     }
   
     // Screen 5
     .screen-5 {
   
       .content{
         background-image: url(../img/bg-5.png);
         background-size:cover;
         background-repeat: no-repeat;
         display: flex;
         align-items: center;
         justify-content: center;
         h1{
           color: $white;
           font-size: 47.92px;
           line-height: 45.83px;
           font-weight: normal;
           text-shadow: 2px 2px #808080;
           text-align: center;
           letter-spacing: -.2px;
         
         }
       }
     }
   
     // Screen 6
     .screen-6 {
   
       .content{
        background: transparent;
         background-size:cover;
         background-repeat: no-repeat;
         background-position-y: -60px;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-end;
         padding-left: 131px;
         img{
           width: 156px;
          max-width: 156px;
         }
         .bg-image{
           position: absolute;
           left: 0px;
           height: 149px;
           max-height: 149px;
           width: auto;
           bottom: 15px;
         }
         .button{
           background:$orange;
           padding: 0 18px 0 15px;
           font-size: 17.89px;
           line-height: 39.02px;
           margin-top: 27px;
           margin-bottom: 18px;
           font-weight: bold;
           color: $white;
           text-decoration: none;
         }
       }
     }
}