@import "../vendor/normalize";
@import "../modules/all";
@import "../orientation/vertical";
@import "../type/standard";

/* Alter variables for one specific banner by redefining them here */


@import "../partials/all";

#main-panel.gloperba_180x150 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 150px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  // common styles for all 4 banners
  @import "../partials/banner-option-1";

  .main-content-wrapper {
    flex-grow: 1;
    min-width: 1px;
    height: auto;
  }

  .isi-container-wrapper {
    flex-shrink: 0;
    height: 44px;
    display: none;
  }

 

  // Screen 1
  .screen-1 {
    display: block;
     
     .content {
       background-image: url(../img/bg.png);
       background-size:cover;
       background-repeat: no-repeat;
    
       display: flex;
       align-items: center;
       justify-content: center;
       
     }
   }
 
   // Screen 2
   .screen-2 {
 
     .content{
       padding: 5px 15px 10px 15px;
       background-image: url(../img/bg.png);
       background-size:cover;
       background-repeat: no-repeat;
       display: flex;
       flex-direction: column;
       justify-content: center;
       
       p{
         font-size: 8.33px;
         margin: 0;
         line-height: 10.42px;
         &:last-child{
           margin-top: 5px;
         }
       }
       h2{
          color: $heading-sec-color;
          font-size: 12.5px;
          line-height: 13.86px;
          margin: 0 0 5px 0;
       }
     }
   }
 
   // Screen 3
   .screen-3 {
 
     .content{
       //bg via main bgimage+bg+color
       // background:linear-gradient(0deg, rgba(51, 153, 204, 0.2), rgba(51, 153, 204, 0.2)), url(../img/bg.png);
       // background-repeat: no-repeat;
       // background-position-y: -125px;
       
       background-image: url(../img/bg-3.png);
       background-size:cover;
       background-repeat: no-repeat;
       display: flex;
       text-align: center;
       align-items: center;
       justify-content: center;
       h1{
         width: 170px;
         color: $white;
         font-size: 43.75px;
         line-height: 37.92 px;
         font-weight: normal;
         text-shadow: 2px 2px #000000;
       }
     }
   }
 
   // Screen 4
   .screen-4 {
 
     .content{
       background-image: url(../img/bg-4.png);
       background-size:cover;
       background-repeat: no-repeat;
       display: flex;
       align-items: flex-end;
       justify-content: center;
       h1{
         color: $white;
         width: 150px;
         font-size: 27.08px;
         line-height: 25px;
         font-weight: normal;
         text-shadow: 2px 2px #000000;
         text-align: center;
         letter-spacing: -2px;
         margin-bottom: 5px;
       }
     }
   }
 
   // Screen 5
   .screen-5 {
 
     .content{
       background-image: url(../img/bg-5.png);
       background-size:cover;
       background-repeat: no-repeat;
       display: flex;
       align-items: center;
       justify-content: center;
       h1{
         color: $white;
         font-size: 29.17px;
         line-height: 27.41px;
         font-weight: normal;
         text-shadow: 2px 2px #000000;
         text-align: center;
         letter-spacing: -2px;
        width: 160px;
       }
     }
   }
 
   // Screen 6
   .screen-6 {
 
     .content{
       background-image: url(../img/bg.png);
       background-size:cover;
       background-repeat: no-repeat;
       background-position-y: -60px;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: flex-end;
       padding-left: 80px;
       img{
         width: 89px;
        max-width: 89px;
       }
       .bg-image{
         position: absolute;
         left: 0px;
         height: 89px;
         max-height: 89px;
         width: auto;
         bottom: 8px;
       }
       .button{
         background:$orange;
         padding: 0 12px 0 10px;
         font-size: 10.13px;
         line-height: 22.11px;
         margin-top: 14px;
         margin-bottom: 10px;
         font-weight: bold;
         color: $white;
         text-decoration: none;
       }
     }
   }
}
