<div class="isi__content">
  <h2>Important Safety Information <br> for GLOPERBA<sup>®</sup>(colchicine)</h2>
  <ul>
    <li>Colchicine 0.6 mg oral solution is contraindicated in patients with renal or hepatic impairment who are
      currently prescribed drugs that inhibit both P-gp and CYP3A4. Combining these dual inhibitors with colchicine in
      patients with renal or hepatic impairment has resulted in life-threatening or fatal colchicine toxicity. Patients
      with both renal and hepatic impairment should not be given GLOPERBA.</li>
    <li>Fatal overdoses have been reported with colchicine in adults and children. Keep GLOPERBA out of the reach of
      children.</li>
    <li>Blood dyscrasias, such as myelosuppression, leukopenia, granulocytopenia, thrombocytopenia, and aplastic anemia,
      have been reported with colchicine used in therapeutic doses.</li>
    <li>Monitor for toxicity and, if present, consider lowering the dose, temporary interruption, or discontinuation of
      colchicine.
    </li>
    <li>Neuromuscular toxicity and rhabdomyolysis may occur with chronic treatment with colchicine in therapeutic doses,
      especially in combination with other drugs known to cause this effect. Patients with impaired renal function and
      elderly patients (including those with normal renal and hepatic function) are at increased risk. Consider lowering
      the dose, temporary interruption, or discontinuation of GLOPERBA.</li>
    <li>The most commonly reported adverse reactions with colchicine are gastrointestinal symptoms, including diarrhea,
      nausea, vomiting, and abdominal pain.</li>
  </ul>
  <h2>Indication</h2>
  <ul class="no-but">
    <li>GLOPERBA 0.6 mg oral solution is indicated for prophylaxis of gout flares in adults. The safety and
      effectiveness of GLOPERBA for acute treatment of gout flares during prophylaxis has not been studied.
    </li>
    <li>GLOPERBA is not an analgesic medication and should not be used to treat pain from other causes.</li>
    <li><strong> You are encouraged to report negative side effects of prescription drugs to the FDA. To report suspected adverse
      reactions, visit <a class="inherit" href="https://www.fda.gov/medwatch">www.fda.gov/medwatch</a> or call <a class="inherit"
        href="tel:1-800-FDA-1088">1-800-FDA-1088</a>. </strong></li>
    <li><strong><a href="https://www.gloperba.com/downloads/pdf/Gloperba_PI.pdf">Please see Full Prescribing Information for GLOPERBA at GLOPERBA.com.</a></strong></li>
  </ul>
  <small>
   <strong>References: 1.</strong> US Food and Drug Administration. Orange Book: Approved Drug Products with Therapeutic Equivalence
    Evaluations. <a href="https://www.accessdata.fda.gov/scripts/cder/ob/index.cfm" class="references-link">https://www.accessdata.fda.gov/scripts/cder/ob/index.cfm</a>. Revised January 17, 2020.
    Accessed April 13, 2020. <strong>2.</strong> GLOPERBA [package insert]. Alpharetta, GA: Avion Pharmaceuticals, LLC; 2019.
  </small>
<footer>
  <img src="img/isi-footer.png" alt="avion-image">
  <small>© 2020 Avion Pharmaceuticals, LLC Alpharetta, GA 30005  |  1-888-612-8466 <br>ML-0162 0420-01</small>
</footer>
</div>