{{ link('linkToSite', '') }}
<div class="animated-content banner-option-1">

  <section class="screen screen-1">
    <div class="content">
        <img src="img/logo.png" alt="logo image">
    </div>
  </section>

  <section class="screen screen-2">
    <div class="content">
      <h2>Indication</h2>
     <p class="d-block-728x90"> GLOPERBA<sup>®</sup> (colchicine) 0.6 mg oral solution is indicated for prophylaxis  of gout flares in adults. The safety and effectiveness of GLOPERBA for acute treatment of gout 
       flares during prophylaxis has not been studied.</p>
       <p class="d-block-728x90 mt-8">
      GLOPERBA is not an analgesic medication and should not be used to treat pain from other causes.
    </p>
    <p class="d-block-300x250"> GLOPERBA<sup>®</sup> (colchicine) 0.6 mg oral <br> solution is indicated for prophylaxis <br> of gout flares in adults. The safety and effectiveness of GLOPERBA for acute treatment of gout 
      flares during prophylaxis has not been studied.</p>
      <p class="d-block-300x250 sec-p">
     GLOPERBA is not an analgesic medication and should not be used to treat pain from other causes.
   </p>
    </div>
  </section>

  <section class="screen screen-3">
    
    <div class="content">
      <h1>Now Available</h1>
      <img class="screen-bg" src="img/bg-3.png" alt="background">
      
    </div>
  </section>

  <section class="screen screen-4">
    <div class="content">
     <h1>The first and only <br> liquid colchicine is here<sup>1</sup></h1>
    </div>
  </section>

  <section class="screen screen-5">
    <div class="content">
      <h1 class="d-block-728x90">A Unique Solution for <br> Gout-Flare ProPhylaxis<sup>2</sup></h1>
      <h1 class="d-block-300x250">A Unique Solution <br> for Gout-Flare ProPhylaxis<sup>2</sup></h1>
    </div>
  </section>

  <section class="screen screen-6">
    <div class="content">
      <img class="bg-image" src="img/bg-6.png" alt="">
      <img class="logo-image" src="img/logo.png" alt="logo image">
      <span class="button">GLOPERBA.com</span>
    </div>
  </section>
  </div>
  {{ closeLink() }}