{{ link('linkToHowWorksPatient', '') }}
<div class="animated-content banner-option-2">

  <div class="screen screen-1">
    <div class="content">
      <div class="logo">
        <img src="img/logo.png" alt="" />
      </div>
    </div>
  </div>

  <div class="screen screen-2">
    <div class="content">
      {% if banner == 'patient-banner-option-2_300x600' %}
        <div class="text">
          For adults with low&nbsp;platelet counts due&nbsp;to chronic immune
          thrombocytopenia (ITP)&nbsp;when a prior treatment has not worked well enough
        </div>
      {% else %}
        <div class="text">
          For adults with&nbsp;low platelet counts due to chronic immune
          thrombocytopenia (ITP) when a prior treatment has not&nbsp;worked well enough
        </div>
      {% endif %}
    </div>
  </div>

  <div class="screen screen-3">
    <div class="content">
      <div class="text">
        <strong class="d-block fw-800">Are you ready</strong>
        to take a different approach to managing your&nbsp;chronic ITP?
      </div>
    </div>
  </div>

  <div class="screen screen-4">
    <div class="content">
      <div class="img absolute-fill">
        <img src="img/screen-4-img.jpg" alt="">
      </div>
      <div class="text">
        <strong class="fw-800">TAVALISSE</strong> is the first and&nbsp;only
      </div>
    </div>
  </div>

  <div class="screen screen-5">
    <div class="content">
      <div class="img absolute-fill">
        <img src="img/screen-5-img.jpg" alt="">
      </div>
      <div class="text">
        <strong class="text-uppercase fw-800">Targeted <span>treatment</span></strong>
      </div>
    </div>
  </div>

  <div class="screen screen-6">
    <div class="content">
      <div class="img absolute-fill">
        <img src="img/screen-6-img.jpg" alt="">
      </div>
      <div class="text">
        <strong class="text-uppercase fw-800">
          To stop platelet <span>destruction</span>
        </strong>
      </div>
    </div>
  </div>

  <div class="screen screen-7">
    <div class="content">
      <div class="text">
        <strong class="d-block fw-800">Are you ready to take a different approach?</strong>
        <span class="normal-text">Find out more at</span>
        <span class="btn">
          <img src="img/btn.png" alt="">
        </span>
      </div>
    </div>
  </div>
  
</div>

{{ closeLink() }}